---
import type { IProduct } from "../interfaces";
const { products, user, token } = Astro.props;
const strapiServerUrl = import.meta.env.STRAPI_SERVER;
const urlUpdateCart =
  import.meta.env.STRAPI_SERVER + import.meta.env.UPDATE_CART_URL;
---

<style>
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 5px;
  }
  .product-container {
    width: calc(33% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
  }
  .product-container img {
    height: 150px;
  }
  .product-id {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 5px;
  }
  .product-title {
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 10px;
  }
  .product-image {
    margin-bottom: 10px;
  }
  .product-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
  }
  .product-price span {
    color: #cc0000;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .btn-product-cart {
    min-width: 130px;
  }

  @media screen and (max-width: 1000px) {
    .product-container {
      width: calc(50% - 3px);
    }
  }
  @media screen and (max-width: 666px) {
    .product-container {
      width: 100%;
    }
  }
</style>

<div class="products-list">
  {
    products.map((product: IProduct) => (
      <div class="product-container">
        <div class="product-id">
          {`${product.attributes.Product_slug} (id:${product.id})`}
        </div>
        <div class="product-title">Title: {product.attributes.Title}</div>
        <div class="product-image">
          <img
            src={
              strapiServerUrl +
              product.attributes.Image.data[0].attributes.formats.thumbnail.url
            }
          />
        </div>
        <div class="product-price">
          Price: <span>${product.attributes.Price}</span>
        </div>
        {user ? (
          <div class="buttons">
            <button
              type="button"
              class="btn btn-info btn-product-info"
              data-url={`/product/${product.attributes.Product_slug}-${product.id}`}
            >
              Info
            </button>

            <button
              type="button"
              class="btn btn-warning btn-product-edit"
              data-url={`/product/${product.attributes.Product_slug}-${product.id}-editMode`}
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-primary btn-product-cart"
              data-product={product.id}
              data-user={user.id}
              data-cart={JSON.stringify(user.Cart)}
              data-urlUpdateCart={urlUpdateCart}
            >
              Add to cart
              <span class="indicator-progress">
                <span class="spinner-border spinner-border-sm align-middle ms-2" />
              </span>
            </button>
          </div>
        ) : (
          <div class="buttons">
            <button type="button" class="btn btn-info">
              Info
            </button>
          </div>
        )}
      </div>
    ))
  }
</div>
